/*
Theme Name: NPT Limited
Description: NPT Limited website theme, based on Omega theme
Author: Ascona
Author URI: http://www.ascona.co.nz/
Template: omega
Version: 100.0.0

*/

body {
    color: #0C9DD9;
	font-size: 13px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

img {
    height: auto;
    width: auto;
}

strong, b { 
	font-weight: 600; 
}

a, .entry-content a, .entry-summary a { 
	color: #0C9DD9;
    text-decoration: none; 
}
a:hover { 
	color: #0C9DD9; 
}
#sidebar a { 
	color: #0C9DD9;
}
#sidebar a:hover { 
	color: #0C9DD9; 
}

p { 
	margin-bottom: 20px; 
}

.clr { clear: both; }


.entry-content ul { 
	margin-left: 15px; 
	list-style-type: none; 
}
.entry-content ul:last-child { 
	margin-bottom: 0; 
}
.entry-content ul > li {
	text-indent: -15px;
}
.entry-content ul > li:before {
    content: "-";
    text-indent: -15px;
    display: block;
    float: left;
    padding-right: 15px;
}

.entry-title, h2, .archive-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #0C9DD9;
}
h3 {
    font-size: 18px;
    color: #0C9DD9;
}

.content .entry p{
	font-family: 'Poppins', sans-serif;
}

.wrap {
	width: 100%;
	max-width: 100%;
}

.site-inner .wrap, footer .wrap, .site-header > .wrap{
	padding: 0 5%;
}
.site-inner .wrap { 
	background-color: #FFFFFF;
}

.site-inner .wrap .widget-area{ 
	padding: 120px 0 0 40px;
}

.page-template-home .site-inner .wrap .widget-area{
	padding-top: 0;
}

footer .wrap { 
}

.site-header {
    background: none repeat scroll 0 0 #fff;
}
.site-header > .wrap {
    padding-top: 20px;
}
.title-area{
	text-align: left;
}

.site-title {
    margin:0;
}

.site-title img{
	height: auto;
	width: 140px;
}

.mobileMenuButton{
	display: none;
	position: fixed;
	top: 40px;
	right: 20px;
	width: 30px;
	height: 30px;
	background: url(images/menu_bars.svg) no-repeat center;
	background-size: contain;
	z-index: 1000;
	text-indent: -9000px;
}

.mobileMenu{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(12,157,217,0.9);
	z-index: 2000;
	overflow: scroll;
}

.mobileMenu .mobileMenuCloseButton{
	display: block;
	position: fixed;
	top: 40px;
	right: 20px;
	width: 30px;
	height: 30px;
	background: url(images/menu_close.svg) no-repeat center;
	background-size: contain;
	z-index: 3000;
	text-indent: -9000px;
}

.mobileMenu .menu-main-menu-container{
	padding: 10% 10% 20% 10%;
}

.mobileMenu .menu-main-menu-container a{
	display: block;
	color: #FFFFFF;
	font-size: 20px;
}
.mobileMenu .menu-main-menu-container ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
.mobileMenu .menu-main-menu-container ul li{
}
.mobileMenu .menu-main-menu-container ul>li>a{
	padding: 10px;
}
.mobileMenu .menu-main-menu-container ul>li>ul{

}
.mobileMenu .menu-main-menu-container ul>li>ul>li{

}
.mobileMenu .menu-main-menu-container ul>li>ul>li>a{
	padding-left: 40px;
	font-size: 16px;

}

.head-wrapper > .head-wrapper-head {
	width: 60px;
	height: 60px;
	margin-right: 20px;
	float: left;
	overflow: hidden;
	border-radius: 100%;
}

#post-144 .ben, #post-126 .ben, #post-122 .ben{
	margin-top: 25px;
	display:block !important;
	margin-bottom: 50px;
}

#post-134 .stephen{
	margin-top: 25px;
	display:block !important;
	margin-bottom: 50px;
}

ul.menu-primary { 
	margin-bottom: 10px; 
	border-top: 1px solid #eee; 
}
ul.menu-primary li {
    margin-bottom: 0;
	border-bottom: 1px solid #eee;
}
ul.menu-primary li.current-menu-item, ul.menu-primary li.current-menu-parent, ul.menu-primary li:hover {
    background-color: #0C9DD9;
}
ul.menu-primary li a {
	border-bottom: none;
	color: #0C9DD9;
	font-size: 14px;
}
ul.menu-primary li:hover a {
    background-color: #0C9DD9;
    color: #fff;
}
ul.menu-primary li.current-menu-item a, ul.menu-primary li.current-menu-parent a, ul.menu-primary li:hover > a {
	color: #fff !important;
}

/* submenu */
.omega-nav-menu ul a { 
	background: transparent; 
	border-left: none; 
	border-right: none; 
}
ul.menu-primary ul a {
    padding-left: 35px;
}
ul.sub-menu li:hover, ul.sub-menu li:hover a, ul.sub-menu li.current-menu-item {
	background-color: #333333;
}
ul.sub-menu li {
	border-bottom: none;
}

.site-description { 
	display: none; 
}

.site-inner {
    padding-top: 0;
}

.alignright, .alignleft { 
	max-width: 40%; 
}

.home .entry-header { 	
	display: none; 
}

#content { 
	line-height: 1.625;
}
.home #content { 
	line-height: 1.5;
}
.content .entry, .singular-npt_properties .entry-content { 
	padding: 15px;
	overflow: hidden;
}
.singular-npt_properties .entry-header { 
	margin-bottom: 24px;
}
.page-header { 
	padding: 15px 15px 0 15px;
}
.paging-navigation { 
	padding: 0 15px;
}
.singular-npt_properties .content .entry { 
	padding: 0;
}
.home .content .entry { 
	background: #0C9DD9 url('images/main-content-bg.png') 50% 100% scroll no-repeat; 
	background-size: contain;
	padding-bottom: 110px; 
	font-weight: 600;
	font-size: 14px;
    text-align: justify;
	color: #033296;
}
.page-template-staff .page { 
	padding-bottom: 0; 
}
#staff .entry:first-child {
	padding-top: 0;
}

.entry {
    margin-bottom: 0;
}
.entry-content > p:last-child { 
	margin-bottom: 0; 
}
.content .entry, .singular-npt_properties .entry-content{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.singular-npt_properties .entry-title { 
	margin-bottom: 5px; 
}
.singular-npt_properties .property-location {
	margin-bottom: 24px;
    color: #0C9DD9;
}
.entry-time, body .more-link {
    color: #0C9DD9;
}
.more-link:hover {
    color: #0C9DD9;
}
.pagination .page-numbers { 
	border: none; 
}

.page-template-financial_reporting .content img, .singular-page-213 .content img {
	-moz-box-shadow: 3px 3px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow: 3px 3px 1px rgba(0,0,0,0.2);
	box-shadow: 3px 3px 1px rgba(0,0,0,0.2);
}

/* SIDEBAR */
.sidebar-primary .widget-title {
	margin-bottom: 20px;
}
.sidebar-primary {
	padding: 30px 25px;
}
.sidebar-primary a {
    text-decoration: none;
    font-weight: 600;
}
.sidebar-primary .post-date { 
	display: block; 
}
.sidebar-primary .widget_recent_entries { 
	margin-bottom: 0;
}
.sidebar-primary .widget_recent_entries li { 
	margin: 0;
	border-bottom: 1px solid #0C9DD9;
	padding: 16px 0;
}
.sidebar-primary .widget_recent_entries li:first-child { 
	border-top: 1px solid #0C9DD9;
}
.sidebar-primary .widget_recent_entries .widget-title {
	color: #0C9DD9;
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 28px;
}
.sidebar-primary .widget_recent_entries .widget-title:before {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 28px;
	content: "Latest";
	display: block;
	line-height: 1em;
}

/* FOOTER */
.site-footer, .site-footer a {
    border-top: none;
    color: #c0bfbf;
    font-size: 12px;
}
.home .site-footer, .home .site-footer a {
    color: #98c6ee;
}
.site-footer a:hover {
    color: #0C9DD9;
}

p.copyright, p.credit {
    float: none;
	text-align: right;
}

/* SLICK SLIDER */
#slideshow { 
	clear: both; 
	position: relative;
}
#slideshow h3 { 
	color: #0C9DD9;
	font-family: 'Tinos', serif;
	font-weight: 700;
    font-size: 20px;
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 30px;
}
#slideshow a { 
	color: #0C9DD9;
}
#slideshow a:hover { 
	color: #0C9DD9;
}
.slick-slider {
    margin-bottom: 0;
}
.slick-slide { }
ul.slick-dots {
    top: 30px;
    bottom: auto;
    right: 15px;
    margin: 0;
    text-align: right;
    width: auto;
}
.slick-dots li {
    display: block;
	margin-bottom: 15px;
}
.slick-dots li button {
    border: 2px solid #0C9DD9;
    border-radius: 50%;
	-moz-box-shadow: 0 0 5px #fff;
	-webkit-box-shadow: 0 0 5px #fff;
	box-shadow: 0 0 2px #fff;
}
.slick-dots li button:before {
    opacity: 0;
    color: #0C9DD9;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #0C9DD9;
	-moz-text-shadow: 0 0 5px #fff;
	-webkit-text-shadow: 0 0 5px #fff;
	text-shadow: 0 0 3px #fff;
}
.slideshow-main, .slideshow-property-main, .slideshow-property-nav {
	min-height:350px !important; 
	background: none no-repeat scroll 50% 50%; 
	background-size:cover;
}
.slideshow-property-main {
	min-height: 230px !important;
}
.slideshow-property-nav {
	min-height: 90px !important;
}
.slider-nav .slick-active:last-of-type { 
	opacity: 0.5; 
}
.property-images {
    max-width: 530px;
    margin: 0 auto;
}
.property-images .mainimage {
    float: right;
}

/* HOME BLOCKS */
.npt-block {
	padding: 17px 13px;
	background-color: #fff;
	text-align: center;
	line-height: 1.2;
}
.npt-block.width-50 {
	width: 50%;
	float: left;
}
.npt-block.width-100 { 
	width: 100%; 
	float: left;
}
.npt-block .block-title {
	font-size: 18px;
	margin-bottom: 15px;
	text-align: left;
	line-height: 1.1;
}
.npt-block .block-title a {
	display: block;
}
.npt-block.align-right {
	text-align: right;
}
.npt-block.price-history {
	border-right: 1px solid #e7e7e8;
}
.npt-block.share-price {
	text-align: left;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 50px;
	color: #0d56a7;
}
.npt-block.blue-bg {
	background-color: #0C9DD9;
	color: #fff;
}
.npt-block.blue-net-bg {
	background: #0e56a7 url('images/net_bg.png') repeat scroll 50% 50%; 
	color: #fff;
}
.npt-block.blue-net-bg .block-title, .npt-block.blue-net-bg .block-title a,
.npt-block.blue-bg .block-title, .npt-block.blue-bg .block-title a,
.npt-block.img-bg .block-title, .npt-block.img-bg .block-title a {
	color: #fff;
}
.npt-block.blue-net-bg .block-title a:hover,
.npt-block.blue-bg .block-title a:hover,
.npt-block.img-bg .block-title a:hover { 
	color: #d9d9db;
}
.npt-block.img-bg {
    background: #0C9DD9;
}
.npt-block.img-bg.reports {
    background: #0C9DD9 url('images/reports-bg.jpg') 50% 0 scroll no-repeat;
    background-size: cover;
}
.npt-block .img-line-chart { 
	padding: 0 20px 0 20px; 
	max-height: 80px; 
}
.npt-block .img-calendar { 
	padding: 0 10px 0 20px; 
	max-height: 60px; 
}

.npt-block.price-history img { 
	padding-top: 20px; 
	max-height: 110px; 
}

.page-template-investors .npt-block .img-line-chart { 
	max-height: 60px; 
}

.home .npt-block { 
	border-bottom: 1px solid #0C9DD9; 
}
.home .npt-block:nth-of-type(odd) { 
	border-left: 1px solid #0C9DD9; 
}

/* STAFF */
.staff-photo {
    margin-bottom: 20px;
}
.staff-photo img{
    width: 400px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}
.staff-name {
	color: #333;
	margin-bottom: 0;
}
.staff-position {
	color: #333;
	margin-bottom: 22px;
    font-family: 'Montserrat', serif;
    font-weight: 400;
	font-size: 17px;
}
.staff-text{
	color: #333;
}

.staff-photo-wrapper img.staff-photo-square-helper {
	width: 100%;
}

.staff-photo-wrapper {
	position: relative;
	width:  100%;
	height: 100%;
	border-radius: 100%;
	overflow: hidden;
}

.staff-photo-wrapper img.staff-actual-photo {
	object-fit: cover;
	object-position: center center;
	position: absolute;
	width: 100% !important;
	top: 0;
	left: 0;
}

/* PROPERTIES */

#properties{ clear: both; }
.properties-single {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.properties-single a {
	display: inline-block;
	min-height: 250px;
	background: none no-repeat scroll 50% 50%;
	background-size: cover;
	width: 100%;
}
.properties-name {
	margin: 25px 0 0 0;
	padding: 0 40px 25px 15px;
    font-family: 'Montserrat', serif;
    font-weight: 700;
	color: #fff;
	-moz-text-shadow: 0px 0px 2px rgba(0,0,0,0.3);
	-webkit-text-shadow: 0px 0px 2px rgba(0,0,0,0.3);
	text-shadow: 0px 0px 2px rgba(0,0,0,0.3);
	line-height: 1;
	font-size: 22px;
	letter-spacing: 0.025em;
	position: relative;
}
.properties-name.blue {
	color: #0C9DD9;
	-moz-text-shadow: 0px 0px 2px rgba(255,255,255,0.3);
	-webkit-text-shadow: 0px 0px 2px rgba(255,255,255,0.3);
	text-shadow: 0px 0px 2px rgba(255,255,255,0.3);
}
.arrow {
	color: #fff;
	width: 22px;
	height: 22px;
	border: 1px solid #fff;
	font-size: 16px;
	text-align: center;
	display: inline-block;
	padding: 3px 0 3px 2px;
	border-radius: 50%;
	line-height: 1;
	vertical-align: middle;
	position: absolute;
    right: 15px;
    top: 0;
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}
.properties-name.blue .arrow {
	color: #0C9DD9;
	border-color: #0C9DD9;
	-moz-box-shadow: 0px 0px 2px rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 0px 2px rgba(255,255,255,0.5);
	box-shadow: 0px 0px 2px rgba(255,255,255,0.5);
}
.page-template-properties h2, .singular-npt_properties h2 {
	color: #0C9DD9;
    font-size: 13px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
	margin-bottom: 0;
}
.property-images img { 
	display: block; 
}
.property-gallery img { 
	width: 50%;
	float: left;
	display: block; 
}
.property-gallery img:first-child { 
	width: 100%;
	padding-bottom: 18px;
}
.property-gallery img:nth-child(2) {
	padding-right: 9px;
}
.property-gallery img:nth-child(3) {
	padding-left: 9px;
}

.investor-presentations { 
	padding-top: 30px; 
}
.reports-single, .presentation-single { 
	margin-bottom: 30px; 
}
.reports-single p, .presentation-single { 
	width: 47.5%; 
	margin-right: 5%; 
	float: left; 
}
.reports-single p:nth-of-type(even), .presentation-single:nth-of-type(even) { 
	margin-right: 0; 
}

body .acf-map {
    border: none;
    margin: 0;
	height: 450px;
}

html, body {
	height:100%;
}

.page-template-home .sidebar-primary .post-date{
	color: #333;
}

.page-template-home.singular-page #content{
	padding-top: 0;
	width: 40%;
	padding-right: 50px;
}

.site-container header#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
	z-index: 999;
	transition: all .3s;
}

.page-template-home .site-container header#header img{
	opacity:0;
	transition: opacity .4s;
}

.singular-npt_properties main#content,
.singular-page main#content,
.singular-post main#content,
.blog main#content{
	padding-top: 120px;
	margin: 0;
	width: 100%;
}

.backToNews{
	display: block;
	padding-bottom: 20px;
}

.singular-post main#content,
.blog main#content,
.page-template-default main#content{
	padding: 120px 10% 0;
}

.singular-npt_properties .wrap,
.singular-page .wrap {
	background: unset;
}

.site-container header#header.not-top ul.menu-primary > li > a{
	border-color: #0C9DD9;
}

.site-container header#header.not-top ul.menu-primary > li > ul > li > a{
	color: #FFFFFF;
}

.site-container header#header.not-top{
	background: none repeat scroll 0 0 #fff !important;
}

.site-container header#header.not-top ul.menu-primary li a {
	color: #0C9DD9;
}

.site-container header#header.not-top img{
	opacity: 1;
}

.home .site-footer, .home .site-footer a {
	color: #bbb;
}

.page-template-home .site-container{
	height: 100%;
	position:relative;
}

.page-template-home .content .entry p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.npt_properties h2 {
	color:#222;
}

section.home-full-screen-image{ display: none; }

.page-template-home  ul.menu-primary li a{
	color:white;
}

.entry-content{
	color: #333;
}

.page-template-home section.home-full-screen-image {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100%;
	display: block !important;
}

.page-template-home section.home-full-screen-image a.openAssetPlusVideo{
	color: white;
	background-color: #0C9DD9;
	padding: 10px 15px;
	margin-top: 50px;
	display: inline-block;
	float: none;
	width: auto;
}

.page-template-home section.home-full-screen-image a svg{
	fill: white;
	vertical-align: middle;
}

.error-404 header.page-header, .search header.page-header{
	padding-left: 0;
}

.page-template-home .site-inner, .error-404 .site-inner, .search .site-inner{
	margin-top: 100px;
}

.page-template-home .site-inner .wrap, .error-404 .site-inner .wrap, .search .site-inner .wrap{
	background-color: unset;
	height: 100%;
	position:relative;
}

.page-template-home .site-inner .wrap .carouselslider.slick-initialized.slick-slider{
	height: 100%;
	position: relative;
}

.page-template-home .site-inner .wrap .slick-slider .slick-list{
	height: 100%;
}

.page-template-home .site-inner .wrap .slick-slider .slick-list .slick-track,
.page-template-home .site-inner .wrap .slick-slider .slick-list .slick-track .slick-slide{
	height: 100% !important;
}

.singular-page.page-template-contact main#content{
	width:50%;
	float:left;
	padding-right: 150px;
}

.singular-page.page-template-contact .contact-sidebar{
	margin-top: 140px;
}

.singular-page.page-template-contact .three-columns.content{
	margin-left: 0;
	margin-top: 50px;
	color: #222;
}

.singular-page.page-template-contact .three-columns.content p{
	margin-bottom: 0;
}

.home .content .entry{
	background: unset;
	color:#333;
	text-align: left;
}

.home .content .entry *{
	text-align: left !important;
}

.page-template-home #slideshow h3{
	display:none !important;
}

.page-template-home #slider{
	height: 100%;
	position: relative;
}

.page-template-home .slideshow-main{
	min-height: 560px !important;
}

.home .content .entry {
	padding-right: 50px;
}

.page-template-home .sidebar-primary .widget_recent_entries li,
.page-template-home .sidebar-primary .widget_recent_entries li:first-child{
	border-color: #222;
}

.home-full-screen-image-wrapper {
	position: absolute;
	width: 30%;
	top: 50%;
	left: 50%;
	color: white;
	text-align: center;
	transform: translateX(-50%) translateY(-50%);
}

.home-full-screen-image-wrapper > p {
	margin-bottom: 10px;
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.home-full-screen-image-wrapper > img {
	padding-bottom: 50px;
	width:60%;
}

.home-full-screen-image > a.continueToSite{
	display: block;
	position: absolute;
	bottom: 80px;
	left: 50%;
	transform: translate(-50%,0);
	background: url(images/scrollDown.svg) no-repeat center;
	width: 34px;
	height: 18px;
	text-indent: -9000px;
}

.page-template-home aside#slideshow{
	height: 100%;
}

.sharePrice{
	display: none;
	background: #0C9DD9;
	text-align: center;
	padding: 10px 20px;
	width: 120px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
    right: 5%;
}
.sharePrice h2{
	color: #FFFFFF;
	font-weight: 400;
    font-size: 14px;
    margin: 0 0 5px 0;
    padding: 0;
}
.sharePrice p{
	color: #FFFFFF;
	margin: 0;
    font-weight: 600;
    font-size: 22px;
}
.page-template-home .sharePrice{
	display: inline-block;
}

.page-template-home #navigation .wrap{
    width: calc(100% - 150px);
    margin: 0 0;
}

@media only screen and (min-width: 480px) {

	.content .entry, .singular-npt_properties .entry-content { 
		padding: 20px;
	}
	.page-header { 
		padding: 20px 20px 0 20px;
	}
	.paging-navigation { 
		padding: 0 20px;
	}
	.home .content .entry { 
		padding-bottom: 150px;
	}
	
	.staff-photo {
		width: 15%;
		float: right;
		margin: 5px 0 24px 5%;
	}
	
	#properties{
		margin: -5px; 
		padding: 20px;
		overflow: hidden;
	}
	.properties-single {
		width: 33.333%;
		float: left;
		border: none;
		padding: 5px;
	}
	.properties-single a {
		min-height: 130px;
	}
	.properties-single:first-child, .properties-single:nth-child(2) {
		width: 50%;
	}
	.properties-single:first-child a, .properties-single:nth-child(2) a {
		min-height: 250px;
	}
	.properties-name { 
		margin-top: 15px; 
		font-size: 20px; 
		padding-right: 10px;
		padding-left: 10px;
	}
	.arrow { display: none; }
	.properties-single:first-child .arrow, .properties-single:nth-child(2) .arrow { 
		display: block; 
	}
	
	.npt-block { 
		padding: 17px 15px; 
	} 
	.npt-block .block-title { 
		font-size: 20px; 
	}
	.npt-block.img-bg.reports { 
		background-position: 50% 40%; 
	}
}
@media only screen and (max-width: 600px) {

	.home-full-screen-image-wrapper > img {
		padding-bottom: 30px;
	}

	.home-full-screen-image-wrapper > p {
		margin-bottom: 10px;
		font-size: 18px;
	}

	.home-full-screen-image > a.continueToSite{
		bottom: 30px;
	}

	.page-template-home section.home-full-screen-image a.openAssetPlusVideo {
		margin-top: 20px;
	}
	.npt-block .block-title {
		font-size: 11px;
	}


	.page-template-investors .npt-block.share-price .block-content { 	
		font-size: 20px; 
	}

	.singular-post main#content, .blog main#content, .page-template-default main#content {
		padding: 120px 0 0;
	}

	.page-template-investors .widget_recent_entries{
		padding-top: 40px;
	}

	.singular-page.page-template-contact main#content {
		width: 100%;
		padding-right: 0;
	}
	.staff-photo{
		padding: 0 15%;
		margin-bottom: 45px;
	}

	.wide-sidebar-left{
		padding-bottom: 30px;
	}
}

@media only screen and (max-width: 320px) {

	.home-full-screen-image-wrapper > p {
		font-size: 15px;
	}

}

@media only screen and (min-width: 600px) {
	.home .content {
		width: 50%;
	}
	.col-2 {
		width: 50%;
		float: left;
	}
	.page-template-investors .content {
		width: 40%;
	}
	.page-template-investors .col-2 {
		width: 60%;
	}
	#slideshow { 
		clear: none; 
	}
	.home .content .entry {
		padding-bottom: 100px;
	}
	
	.properties-single a {
		min-height: 150px;
	}
	.properties-single:first-child a, .properties-single:nth-child(2) a {
		min-height: 300px;
	}
	.property-text {
		width: 50%;
		float: left;
		margin-right: 10%;
	}
	.property-details {
		width: 40%;
		float: left;
	}
	
	.npt-block.price-history { 
		border-top: 1px solid #e7e7e8; 
	}
	
	.reports-single { 
		width: 47.5%; 
		margin: 0 5% 30px 0; 
		float: left; 
	}
	.reports-single:nth-of-type(even) { 
		margin-right: 0; 
	}
	
	.presentation-single { 
		width: 22.5625%;
		margin-right: 2.375%;
	}
	.presentation-single:nth-of-type(2) { 
		margin-right: 5%; 
	}
	.presentation-single:nth-of-type(3) { 
		margin-right: 2.375%; 
	}
	.presentation-single:nth-of-type(4) { 
		margin-right: 0; 
	}
	
	.page-template-contact .content{
		float: left;
		width: 50%;
	}
	.contact-sidebar {
		float: left;
		width: 50%;
	}
	.three-columns.content { 
		width:100%; 
		float: none; 
	}
	.three-columns .column { 
		width:50%; 
		float: left; 
	}
}

@media only screen and (min-width: 768px) {
	h3 { 
		font-size: 22px; 
	}
	.entry-title, .archive-title { 
		font-size: 32px; 
	}
	
	.site-header > .wrap { 
		padding-top: 0; 
	}
	
	.page-template-two-columns .content { 
		width: 65%; 
	}
	.home .content, .page-template-investors .content { 
		width: 50%; 
	}
	.page-template-investors .col-2 { 
		width: 50%; 
	}
	
	.sidebar-primary { 
		width: 35%; 
	}
	.sidebar-primary { 
		width: 100%; 
	}
	
	.site-inner .wrap { 
		min-height: 530px; 
	}
	.content .entry, .singular-npt_properties .entry-content { 
		padding: 32px; 
	}
	.page-header { 
		padding: 32px 32px 0 32px; 
	}
	.paging-navigation {  
		padding: 0 32px; 
	}
	.home .content .entry { 
		padding-bottom: 160px; 
	}
	
	.npt-block .block-title { 
		font-size: 22px; 
	}
	.npt-block .img-line-chart { 
		padding: 0 40px 0 40px; 
		max-height: 150px; 
	}
	/*.npt-block.share-price .block-content { font-size: 80px; }*/
	.npt-block.share-price .block-content { 
		font-size: 60px; 
	}
	.page-template-investors .npt-block .img-line-chart { 
		max-height: 65px; 
	}
	.page-template-investors .npt-block.share-price .block-content { 	
		font-size: 39px; 
	}
	
	/* staff */
	#staff.leadership {
		padding-left: 25px;
		padding-right: 25px;
		margin-top: -30px;
	}
	#staff.leadership .entry {
		padding: 0 7px 10px 7px;
		width: 33.333%;
		float: left;
	}
	.leadership .staff-photo {
		width: 100%;
		float: none;
		margin: 0 0 10px 0;
	}
	.leadership .staff-name {
		font-size: 21px;
	}
	.leadership .staff-position {
		margin-bottom: 10px;
		font-size: 14px;
	}
	.leadership .readmore {
		margin-top: -15px;
	}
	
	/* properties */
	.content.width-one-third {
		width: 45%;
	}
	
	#properties { 
		width: 55%; 
		float: right; 
		clear: none;
		padding: 32px 32px 32px 0;
	}
	.properties-single {
		width: 33.333%;
		float: left;
	}
	.properties-single:first-child, .properties-single:nth-child(2) {
		width: 50%;
	}
	.properties-single a {
		min-height: 130px;
	}
	.properties-single:first-child a, .properties-single:nth-child(2) a {
		min-height: 280px;
	}

	.wide-sidebar-left {
		float: left;
		width: 50%;
	}
	.wide-sidebar-right {
		float: left;
		width: 50%;
		padding-left: 32px;
	}
	
	.three-columns .column { 
		width:33.333%; 
	}
}

@media only screen and (max-width: 920px) {

	.mobileMenuButton{
		display: block;
	}
	.site-header > .wrap{
		padding: 0 50px;
	}
	nav#navigation {
		background-color: white;
	}

	.page-template-home header{
		display: none;
	}
	.title-area {
		padding-bottom: 0;
		position: relative;
		z-index: 5;
	}

	.site-container header#header {
		background-color:  white;
	}

	.page-template-home  ul.menu-primary li a{
		color:#0C9DD9;
	}

	.site-container header#header.not-top ul.menu-primary > li > ul > li > a{
		color:#0C9DD9;
	}

	ul.menu-primary li.current-menu-item, ul.menu-primary li.current-menu-parent, ul.menu-primary li:hover{
		background: #0C9DD9 ;
	}

	.page-template-home .site-container header#header img{
		display: none;
	}

	.site-inner .wrap, footer .wrap, .site-header > .wrap{
		padding: 0 40px;
	}

	.site-inner .wrap .widget-area {
		padding: 0;
		width: 100%;
		margin-bottom: 80px;
	}

	.page-template-home.singular-page #content{
		padding: 0;
	}
}

@media only screen and (min-width: 920px) {
	
	.menu-icon { 
		display: none; 
	}
	.title-area { 
		width: 15%; 	
		float: left; 
	}
	#navigation { 
		width: 80%; 
		float: right; 
		margin-top: 37px; 
	}

	#navigation .wrap {
		width: 100%;
		max-width: 100%;
		text-align: right;
	}
	ul.menu-primary { 
		display: inline-block;
		text-align: right;
		border-top: none;
	}
	.omega-nav-menu > li { 
		float: left; 
	}
	ul.menu-primary li {
		border-bottom: none;
	}
	ul.menu-primary > li {
		margin-left: 16px;
	}
	ul.menu-primary > li:first-child { 
		margin-left: 0;
	}
	ul.menu-primary > li, ul.menu-primary > li > a { 
		width: auto;
	}

	ul.menu-primary > li > a {
		border-top: 1px solid #0C9DD9;
		width: auto;
		border-bottom: none;
		padding: 5px 10px 5px 5px;
		font-size: 13px;
	}

	.page-template-home ul.menu-primary > li > a {
		border-top: 1px solid white;
	}
	ul.menu-primary li .sub-menu { 
		display: none; 
	}
	.omega-nav-menu li:hover > ul {
		display: inline-block;
		position: absolute;
		z-index: 99;
		left: auto;
	}

	.page-template-home .omega-nav-menu li:hover > ul li:first-child:before {
		background-color: transparent;
	}

	/*.omega-nav-menu li:hover > ul li:first-child:before {
		display: block;
		height: 10px;
		background-color: white;
		content: "▲";
		color: #0C9DD9;
		line-height: 1em;
		padding-left: 5px;
		font-size: 13px;
	}*/
	ul.menu-primary li.current-menu-parent > a {
		background-color: #0C9DD9;
		color: #fff !important;
	}
	ul.menu-primary .sub-menu li.current-menu-item a {
		background-color: #0C9DD9;
	}
	.omega-nav-menu ul a {
		background: #0C9DD9;
		border: none;
		font-size: 13px;
		width: 240px;
		color: #fff;
	}
	ul.menu-primary ul a {
		margin-left: 0;
		padding: 10px 15px;
		color: #fff;
	}

	.properties-single a {
		min-height: 180px;
	}
	.properties-single:first-child a, .properties-single:nth-child(2) a {
		min-height: 350px;
	}
	
}

@media only screen and (max-width: 1024px) {
	.singular-page.page-template-contact main#content{
		padding-right: 20px;
	}
}


@media only screen and (min-width: 1024px) {

	#navigation { 
		width: 70%; 
	}
	ul.menu-primary li a {
		font-weight: 400;
	}
	ul.menu-primary > li {
		margin-left: 20px;
	}
	
	.sidebar-primary, .home .sidebar-primary {
		width: 20%;
	}
	.content {
		margin-left: 10%;
		margin-right: 10%;
		width: 80%;
	}
	.singular-npt_properties .content {
		margin-right: 0;
		width: 90%;
	}
	.page-template-two-columns .content {
		margin-right: 0;
	}
	.home .content, .page-template-investors .content {
		width: 40% !important;
		margin-left: 0;
		margin-right: 0;
	}
	.col-2 {
		width: 40%;
		float: left;
		clear: none;
	}
	
	img.alignright, .wp-caption.alignright {
		margin: 0 -8% 24px 10%;
	}
	
	.npt-block  img.img-announcements {
		max-height: 80px;
		margin-top: 10px;
	}
	.page-template-investors .col-2 {
		width: 40%;
	}

	/* properties */
	.content.width-one-third {
		width: 35%;
		margin-right: 0;
	}
	.properties-name {
		padding-right: 40px;
		padding-left: 15px;
	}
	.arrow { 
		display: block; 
	}
	
	.npt-block .img-calendar {
		max-height: 80px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
	.npt-block.price-history { 
		border-right: none; 
	}
	.npt-block.price-history img { 
		max-height: 120px; 
	}
	
	.page-template-wide-sidebar .content {
		margin-right: 0;
		width: 90%;
	}
	
	.page-template-contact .content {
		width: 40%;
		margin-right: 0;
	}
	
	.three-columns.content { 	
		width:100%; 
		float: none; 
	}
}

@media only screen and (min-width: 1100px) {

	#navigation {
		margin-top: 50px;
		width: 82%;
	}
	ul.menu-primary > li { 
		width: 15.41666%; 
		margin-left: 1.5%; 
	}
	ul.menu-primary > li > a { 
		padding-right: 5px; 
	}
	
	.content.width-one-third, .singular-page main#content.width-one-third { 
		width: 33%; 
	}
	
	#properties { 
		width: 57%; 
		margin: -9px;
		padding-top: 120px;
	}
	.properties-single { padding: 9px; }
	.properties-single:first-child a, .properties-single:nth-child(2) a { 
		min-height: 360px; 
	}

	.npt-block.share-price .block-content { 
		font-size: 70px; 
	}
}

@media only screen and (min-width: 1200px) {

	#navigation {
		width: 75%;
	}
	.home .content .entry { 
		padding-bottom: 150px; 
	}
	
	.sidebar-primary .widget_recent_entries li { 
		padding: 20px 0; 
	}
	.staff-text {
		width: 80%;
		float: left;
	}
	.leadership .staff-text {
		width: 100%;
		float: none;
	}
	
	.properties-name { 
		margin-top: 25px; 
		font-size: 22px; 
	}
	.npt-block.price-history img { 
		max-height: 140px; 
	}
	.npt-block.share-price .block-content { 
		font-size: 76px; 
	}
}

@media only screen and (min-width: 1440px) {
	.npt-block img.img-announcements {
		max-height: 90px;
		margin-top: 15px;
	}
}

@media only screen and (max-width: 1023px) {


	.singular-npt_properties main#content, .singular-page main#content{
		width: 100% !important;
	}

	.home-full-screen-image-wrapper{
		width:90%;
	}

	.menu-icon {
		border-top-color: #0C9DD9;
		border-bottom-color: #0C9DD9;
	}
	.menu-icon:before {
		border-top-color: #0C9DD9;
	}
	.site-inner, .footer-widgets {
		padding-left: 0;
		padding-right: 0;
	}
}

#wpadminbar{
	top: auto;
    bottom: 0;
}